/*
 *
 * 이곳에 CSS 작업을 해주세요!
 * 아래의 CSS 코드는 지우셔도 됩니다!
 *
 * less라는 CSS preprocessor를 사용하셔도 되고, 그냥 파일명은 유지한채 CSS로 작업하셔도 됩니다.
 * http://lesscss.org
 *
*/

@myGrey: #f5f5f5;
@import 'https://fonts.googleapis.com/css?family=Black+Han+Sans';

a:hover, a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#title {
  h3 {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    margin: 70px 0 0;
    padding: 0;
  }
  h2 {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 130px;
    line-height: 140px;
    padding: 0;
    margin: 0;
  }
  h4 {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    margin: 120px 0 0;
    padding: 0;
  }
}
#buttonGroup {
  width: 600px;
  margin: 0 auto;
  div {
    width: 120px;
    height: 30px;
    margin: 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #666;
    border-radius: 4px;
    cursor: pointer;
  }
}

#board {
  position: relative;
  clear: both;
  display: none;
  margin-top: 20px;
  max-width: 1600px;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #666;
  background-color: @myGrey;

  li {
    font-size: 20px;
    height: 100%;
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    float: left;
    text-align: center;
    line-height: 200px;
    color: white;
    &:last-child {
      position: absolute;
      width: 40px;height: 200px;
      right: -28px;top: 10px;
      background: transparent;
    }
  }
  .first {
    background: hsl(0, 100%, 60%);
  }
  #done {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 130px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    top: 0;left: 0;
  }
}

#win {
  display: none;
  margin-top: 20px;
  max-width: 1600px;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #666;
  background-color: @myGrey;
  position: absolute;
  left: 50%;
  margin-top: -220px;
  margin-left: -800px;

  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  font-size: 130px;
  line-height: 200px;
  text-align: center;
}

#submitButton {
  display: none;
  margin: 0 auto;
  margin-top: 40px;
}

#your {
  clear: both;
  width: 1000px;
  margin: 160px auto 0;
  border: 10px solid black;
  p {
    background: white;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    margin: 0;
    &:first-child {
      width: 600px;
      margin-top: -35px;
      margin-left: 200px;
    }
    &:last-child {
      width: 600px;
      margin-left: 200px;
      margin-bottom: -35px;
    }
  }
  .class {
    font-size: 100px;
    line-height: 106px;
  }
  #regame {
    position: absolute;
    top: 50%;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

#sideYou {
  display: none;
  width: 1000px;
  margin: 50px auto 0;
  border: 10px solid black;
  overflow: visible;
  .side {
    background: white;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
  }
}